<!DOCTYPE html>
<html>
<head>
	<title>Gen4Dex</title>
	<meta name="description" content="A tool to help you catch em' all. At least on gen 4 games."/>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="favicon.png"/>
	<link rel="stylesheet" href="style.css"/>
	<link rel="stylesheet" href="item_spritesheet_style.css"/>
	<link rel="stylesheet" href="poke_spritesheet_style.css"/>
	{%block head%}{%endblock%}

	
</head>
<body id="body1" style="background-color: #1c1c1c">
	<div id="wrapper">
		<div id="header">
			<a href="/" id="title">GEN 4 DEX</a>
			<p>{{ l.subtitle }}
		</div>
		{% block content %}
	  	{% endblock %}
	</div>
</body>
{% block scripts %}
{% endblock %}
</html>
