{% extends "base.html" %}

{% block content %}
<h1 style="font-family:Oswald;">HELP</h1>
<div style="margin: 0 auto; width:70%; max-width:1000px; text-align:justify;">
    <p>
        Welcome to the Gen 4 Dex! This web is a free resource to help you in your jorney to catch every Pokémon in Pokémon 
        Diamond/Pearl/Platinum and HeartGold/SoulSilver.<br><br>
        The main page shows a huge table filled with every Pokémon and their location inside the games, along with the level 
        it appears and how rare it is.<br>
        In the top you can find the menu bar, which has some filters for the data table.<br>
        The first filter lets you choose between showing the best location for each Pokémon, or every possible location where 
        it can be obtained. The "best" one is the the place where the Pokémon appears more frecuently.<br>
        The second one lets you choose the number of results the table will show. It is limited to 100 because higher values would 
        affect performance<br>
        The third one shows the list of methods, so you can hide some hideous ones like Poké Radar or Swarm.<br>
        The next filters are the game ones. You can activate or deactivate them so the data table only shows Pokémon obtaniable in those games.<br>
        The Evo, Egg and Event ones are similar, they let you show or hide Pokémon obtainable by evolving, hatching eggs or via events, for those who are just focusing on catching.<br>
        The rest are links to the login, register and help pages. If you are logged in, your username will appear instead. Clicking it 
        will take you to your profile page, where you can view and update your Pokédex info.<br>
        The big text box lets you filter either by name or by dex number. The number filter is a "greater than" filter, so if you type 120 
        you'll get every Pokémon avaliable from #120 onwards.<br>
        Registration is not needed for using the app, but it lets you save a personal Pokédex, so the Pokémon you already caught 
        won't appear on the data table.<br>
        In order to register a Pokémon you can click its name on the data table, or register it on your profile page.<br>
        The app stores the passwords hashed and salted, so in the event of a security breach the passwords will be fine.<br><br>
        If you find any bug, or have any suggestion, please let me know.<br>
        This webapp doesn't have any ads and it's free to use.<br><br>
        Done by <a href="http://twitter.com/jaime0907">@jaime0907</a>
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="MBSTG2LFZLTBY" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_ES/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </p>
</div>

{% endblock %}
