{% extends "base.html" %}

{% block content %}
<h1 style="font-family:Oswald;">{{l.help_mayus}}</h1>
<div style="margin: 0 auto; width:70%; max-width:1000px; text-align:justify;">
    <p>
        {{l.help_text_1}}<br><br>
        {{l.help_text_2}}<br>
        {{l.help_text_3}}<br>
        {{l.help_text_4}}<br>
        {{l.help_text_5}}<br>
        {{l.help_text_6}}<br>
        {{l.help_text_7}}<br>
        {{l.help_text_8}}<br>
        {{l.help_text_9}}<br>
        {{l.help_text_10}}<br>
        {{l.help_text_11}}<br>
        {{l.help_text_12}}<br>
        {{l.help_text_13}}<br><br>
        {{l.help_text_14}}<br>
        {{l.help_text_15}}<br><br>
        {{l.help_text_16}}<a href="http://twitter.com/jaime0907">@jaime0907</a>
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="MBSTG2LFZLTBY" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_ES/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </p>
</div>

{% endblock %}
