{% extends "base.html" %}
{% block content %}
	<div id="menubar_main" class="menubar">
		<div class="dropdown">
			<button class="dropbtn menubar_bot" id="locationbot" onclick="dropdownSelector()">Show Location
			</button>
			<div class="dropdown-content" id="myDropdown">
				<a href="#" onclick="allLocations()">{{ l.all_locations }}</a>
				<a href="#" onclick="mostProbable()">{{ l.most_probable }}</a>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn menubar_bot" id="numbot" onclick="dropdownNum()">Nº Results
			</button>
			<div class="dropdown-content" id="myDropdownNum">
				<a href="#" onclick="limit10()">{{ l.results10 }}</a>
				<a href="#" onclick="limit50()">{{ l.results50 }}</a>
				<a href="#" onclick="limit100()">{{ l.results100 }}</a>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn menubar_bot" id="methods_bot" onclick="showMethods()">{{ l.show_methods }}</button>
		</div>

		<div id="hg">
			<input type="checkbox" id="gamehg" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="gamehg" class="menubaritem">HG</label>
		</div>
		<div id="ss">
			<input type="checkbox" id="gamess" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="gamess" class="menubaritem">SS</label>
		</div>
		<div id="d">
			<input type="checkbox" id="gamed" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="gamed" class="menubaritem">D</label>
		</div>
		<div id="p">
			<input type="checkbox" id="gamepe" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="gamepe" class="menubaritem">P</label>
		</div>
		<div id="pt">
			<input type="checkbox" id="gamept" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="gamept" class="menubaritem">Pt</label>
		</div>
		<div id="evo">
			<input type="checkbox" id="gameevo" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="gameevo" class="menubaritem">Evo</label>
		</div>
		<div id="egg">
			<input type="checkbox" id="gameegg" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="gameegg" class="menubaritem">{{ l.egg }}</label>
		</div>
		<div id="event">
			<input type="checkbox" id="gameevent" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="gameevent" class="menubaritem">{{ l.event }}</label>
		</div>
		{% if islogged %}
			<a href="/profile" class="menubaritem">{{username}}</a>
			<a href="/logout" class="menubaritem">{{ l.logout }}</a>
		{% else %}
			<a href="/login" class="menubaritem">{{ l.login }}</a>
			<a href="/register" class="menubaritem">{{ l.register }}</a>
		{% endif %}
		<div class="dropdown">
			<button class="dropbtn menubar_bot" id="langbot" onclick="dropdownLang()">{{ l.langlargo }}
			</button>
			<div class="dropdown-content" id="myDropdownLang">
				<a href="/?lang=en">English</a>
				<a href="/?lang=es">Español</a>
			</div>
		</div>
		<a href="/help" class="menubaritem">{{ l.help }}</a>



		<a id="hiddenlang" style="display:none;">{{l.lang}}</a>
	</div>

	<div id="menubar_methods" class="menubar_methods">
		<div id="wild">
			<input type="checkbox" id="method-wild" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="method-wild" class="menubaritem">Wild</label>
		</div>
		<div id="headbutt">
			<input type="checkbox" id="method-headbutt" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="method-headbutt" class="menubaritem">Headbutt</label>
		</div>
		<div id="slot">
			<input type="checkbox" id="method-slot" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="method-slot" class="menubaritem">Slot2</label>
		</div>
		<div id="hoenn">
			<input type="checkbox" id="method-hoenn" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="method-hoenn" class="menubaritem">Hoenn</label>
		</div>
		<div id="sinnoh">
			<input type="checkbox" id="method-sinnoh" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="method-sinnoh" class="menubaritem">Sinnoh</label>
		</div>
		<div id="radar">
			<input type="checkbox" id="method-radar" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="method-radar" class="menubaritem">Poké Radar</label>
		</div>
		<div id="swarm">
			<input type="checkbox" id="method-swarm" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="method-swarm" class="menubaritem">Swarm</label>
		</div>
		<div id="other">
			<input type="checkbox" id="method-other" onchange="getPoke()" checked="true" class="chk-btn">
			<label for="method-other" class="menubaritem">Other</label>
		</div>

	</div>

	<div id="centergrid">
		<div id="filter" style="text-align:right; float:left;margin: 4px; display:none;">
			<div id="location" style="margin: 4px;">
				Show location:
				<select id="groupselector"  onchange="getPoke()">
					<option value=1>Most probable</option>
					<option value=0>All of them</option>
				</select>
			</div>

			<div id="nresults" style="margin: 4px; display:none;">
				Number of results:
				<input id="limit" name="limit" type="text" value="50" size="1" onkeyup="getPoke()">
			</div>
		</div>

		<div id="timediv"></div>

		<div id="searchbox">
			<input id="pokename" name="pokename" type="text" placeholder="{{ l.filterbox }}" autofocus onkeyup="getPoke()" autocomplete="off">
		</div>

		<div id="main">
			<table id="tablepoke" style="margin:0 auto">
				<tr>
					<th>Dex</th>
					<th>Pokémon</th>
					<th>{{ l.location }}</th>
					<th>{{ l.game }}</th>
					<th>{{ l.method }}</th>
					<th>{{ l.level }}</th>
					<th>{{ l.mor }}</th>
					<th>{{ l.day }}</th>
					<th>{{ l.nig }}</th>
				</tr>
			</table>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<script>

	function showMethods(){
		document.getElementById("menubar_methods").classList.toggle("show");
		if(document.getElementById("menubar_methods").classList.contains("show")){
			document.getElementById("methods_bot").innerHTML = "{{l.hide_methods}}";
		}else{
			document.getElementById("methods_bot").innerHTML = "{{l.show_methods}}";
		}
	}

	function dropdownSelector() {
		document.getElementById("myDropdown").classList.toggle("show");
	}

	function dropdownNum() {
		document.getElementById("myDropdownNum").classList.toggle("show");
	}

	function dropdownLang() {
		document.getElementById("myDropdownLang").classList.toggle("show");
	}


	// Close the dropdown if the user clicks outside of it
	window.onclick = function(e) {
		if (!e.target.matches('.dropbtn')) {
			var myDropdown = document.getElementById("myDropdown");
		if (myDropdown.classList.contains('show')) {
			myDropdown.classList.remove('show');
		}
			var myDropdownNum = document.getElementById("myDropdownNum");
		if (myDropdownNum.classList.contains('show')) {
			myDropdownNum.classList.remove('show');
		}
		}
	}

	function allLocations() {
		document.getElementById("groupselector").value = 0;
		document.getElementById("locationbot").innerHTML = "{{l.all_locations_short}}";
		getPoke();
	}
	function mostProbable() {
		document.getElementById("groupselector").value = 1;
		document.getElementById("locationbot").innerHTML = "{{l.most_probable_short}}";
		getPoke();
	}

	function limit10(){
		document.getElementById("limit").value = 10;
		document.getElementById("numbot").innerHTML = "{{l.results10_short}}";
		getPoke();
	}
	function limit50(){
		document.getElementById("limit").value = 50;
		document.getElementById("numbot").innerHTML = "{{l.results50_short}}";
		getPoke();
	}
	function limit100(){
		document.getElementById("limit").value = 100;
		document.getElementById("numbot").innerHTML = "{{l.results100_short}}";
		getPoke();
	}

	
	function getHora(){
		var d = new Date();
		var t2 = 0;
		var h = d.getHours();
		var ht = '';
		if(h >= 4 && h < 10){
			ht = '{{l.morning_largo}}';
			franjahoraria = 0;
			t2 = 10*60;
		}else if(h >= 10 && h < 20){
			ht = '{{l.day_largo}}';
			franjahoraria = 1;
			t2 = 20*60;
		}else{
			ht = '{{l.night_largo}}';
			franjahoraria = 2;
			if(h >= 0){
				t2 = 4*60;
			}else{
				t2 = 4*60 + 24*60; 
			}
		}
		var t = h*60 + d.getMinutes()
		var dif = t2-t;
		var hours = dif/60;
		var min = (hours - Math.floor(hours)) * 60;
		var hourst = Math.floor(hours);
		var mint = Math.floor(min);

		var remain = '';
		if(hourst != 0)
		{
			remain += hourst + ' {{l.hour}}';
		}
		if(hourst > 1)
		{
			remain += 's';
		}

		if(hourst != 0 && mint != 0) remain += ' {{l.and}} ';
		if(mint != 0)
		{
			remain += mint + ' {{l.minute}}';
		}
		if(mint > 1)
		{
			remain += 's';
		}
		remain += ' {{l.until}} ';
		if(franjahoraria == 0){
			remain += '{{l.day_largo}}';
		}else if(franjahoraria == 1){
			remain += '{{l.night_largo}}';
		}else{
			remain += '{{l.morning_largo}}';
		}
		remain += ')';
		document.getElementById("timediv").innerHTML = '{{l.current_time}}: ' + FormatNumberLength(d.getHours(), 2) + ':' + FormatNumberLength(d.getMinutes(), 2) + ' ('+ ht + ', ' + remain;
	}
</script>
<script src="script.js"></script>
{%endblock%}